<form>
        <div class="form-group">
                <label for="exampleInputEmail1">Name: </label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
                <label for="nickname">Nickname: </label>
                <input class="form-control" id="nickname">
        </div>
        <div class="form-group">
                <label for="imagesrc">Image Src: </label>
                <input class="form-control" id="imagesrc">
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
</form>