<!-- Loads static files from static folder -->
{% load static %}

<form action="/profile/" method="post">
        {% csrf_token %}
        <!-- {{form}} -->
        <div class="form-group">
                <label for="name">Name: </label>
                <input name="name" class="form-control" id="name" value="{{ user.name }}">
        </div>
        <div class="form-group">
                <label for="nickname">Nickname: </label>
                <input name="nickname" class="form-control" id="nickname" value="{{ user.nickname }}">
        </div>
        <div class="form-group">
                <label for="profile_image">Image Src: </label>
                <input name="profile_image" class="form-control" id="profile_image" value="{{ user.profile_image }}">
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
</form>