{% extends 'challenge/main.html' %}

<!-- Loads static files from static folder -->
{% load static %}

{% block content %}
<!-- CHILD TEMPLATE SECTION -->
<section class="d-flex justify-content-center mt-5">
        <div class="card-component card" style="width: 18rem;">
                <img src="{{ MEDIA_ROOT }}{{user.profile_image.url}}" class="card-img-top" alt="...">
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name: {{user.name}}</li>
                        <li class="list-group-item">Nickname: {{user.nickname}}
                        </li>
                        <li class="list-group-item">Profile Image: {{user.profile_image}}</li>
                        <li class="list-group-item">User ID: {{id}}</li>
                </ul>
                <div class="card-body d-flex justify-content-center align-items-center">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
                                Update Info
                        </button>
                </div>
                <section>
                        {% include 'challenge/modal.html' %}
                </section>
        </div>
</section>
{% endblock %}